# Data Science Tools and Ecosystem

## Author
Gerson Morales Deras

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

* List some popular Data Science languages
* List some commonly used libraries
* Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
1. R
1. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
1. Scikit-learn
1. Numpy
1. Matplotlib

<table>
<tr>
    <th>Data Science tools</th>
</tr>

<tr>
    <td>MySql</td> 
</tr>

<tr>
    <td>MongoDB</td>   
</tr>
    
<tr>
    <td>Cassandra</td>   
</tr>

</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335